# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
cypress/videos/
cypress/downloads
cypress/backup2
cypress/original_backup

# Stryker files
.stryker-tmp/
reports/
stryker-tmp/
stryker-backup/
stryker-logs/
mutation-report.html
mutation-report.json
stryker-incremental.json

# Generated HTML files
index.html
loop.html
